<style>
  .list-group-item, .card-header {
    display: flex;
    justify-content: space-between;
  }
</style>
<div class="container mt-4">
  <div class="card">
    <div class="card-header">
      {{ question.title || 'Error ' }} <em [style.color]="'grey'" > Posted By User: {{ question.username }} </em>
    </div>
    <div class="card-body">
      <p class="card-text">
        {{ question.content || 'There was an Error loading the page pls restart' }}
      </p>

    </div>
    <div class="card-header">
      Answers :
    </div>
    <ul class="list-group list-group-flush">
      <li *ngFor="let answer of question.answers" class="list-group-item">
        {{ answer["answer"] }} <em [style.color]="'grey'" > UserName: {{ answer["user_id"] }} </em>
      </li>
    </ul>
    <div class="card-footer">
      <form>
        <div class="form-group">
          <label for="commentInput">Add a Comment:</label>
          <textarea [(ngModel)]="commentText" name="commentText" class="form-control" id="commentInput" rows="2"></textarea>
        </div>
        <button type="submit" (click)="AddAnswer()" class="btn btn-primary">Submit Comment</button>
      </form>
    </div>
  </div>
</div>
