
<style>
  .main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #eeeeee;
  }

  form {
    background-color: #ffffff;
    width: 300px; /* Adjust the width as needed */
    padding: 20px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1); /* Small box shadow */
  }
</style>

<div class="main">
<form>
  <div class="form-group">
    <label for="Input1">Title</label>
    <input type="email" class="form-control" id="Input1" name="Title"
           [(ngModel)]="newQuestion.title"
           aria-describedby="emailHelp" placeholder="Title">
  </div>
  <div class="form-group">
    <label for="Input2">Content</label>
    <input  name="Content"
            [(ngModel)]="newQuestion.content"
            class="form-control" id="Input2" placeholder="Content">
  </div>
  <div class="form-group">
    <label for="Input3">Location</label>
    <input  class="form-control"
           name="Location"
           [(ngModel)]="newQuestion.location" id="Input3" placeholder="Location">
  </div>
  <div class="form-group">
    <label for="Input4">User username</label>
    <input
           name="username"
           [(ngModel)]="newQuestion.user.username"
           class="form-control" id="Input4" placeholder="User username">
  </div>
  <div class="form-group">
    <label for="Input5">Password</label>
    <input type="password" class="form-control" id="Input5" placeholder="Password">
  </div>
  <button type="submit" (click)="addQuestion()" class="btn btn-primary">Submit</button>
</form>
</div>
